body{
background-color: blanchedalmond;

}




p {
    font-size: 22px;
    font-family: 'Roboto Mono', monospace;
    color: #0a0a0a;
}

.parrafo{
    font-size: 27px;
    font-family: 'Roboto Mono', monospace;
    color: #000000;
}

.enfasis{
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    color: #b63636;
}